<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연봉정보 및 어쩌구</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">이름</th>
        <th scope="col">주민등록번호</th>
        <th scope="col">생년월일</th>
        <th scope="col">소득구분</th>
        <th scope="col">총지급액</th>
        <th scope="col">소득세율</th>
        <th scope="col">소득세</th>
        <th scope="col">실지급액</th>
        <th scope="col">기업명</th>
        <th scope="col">사업자등록번호</th>
        <th scope="col">지급일</th>
        <th scope="col">소득내역</th>
        <th scope="col">업무시작일</th>
        <th scope="col">업무종료일</th>
        <th scope="col">납기준수</th>
        <th scope="col">업무품질</th>
        <th scope="col">만족도</th>
        <th scope="col">전체평점</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${datas}">
        <td th:text="${data.id}"></td>
        <td th:text="${data.name}"></td>
        <td th:text="${data.residentRegistNo}"></td>
        <td th:text="${data.dateOfBirth}"></td>
        <td th:text="${data.incomeClassification}"></td>
        <td th:text="${data.totalPayment}"></td>
        <td th:text="${data.incomeTaxRate}"></td>
        <td th:text="${data.incomeTax}"></td>
        <td th:text="${data.actualPayments}"></td>
        <td th:text="${data.companyName}"></td>
        <td th:text="${data.companyRegistNo}"></td>
        <td th:text="${data.paymentDate}"></td>
        <td th:text="${data.incomeDetails}"></td>
        <td th:text="${data.businessStartDate}"></td>
        <td th:text="${data.businessEndDate}"></td>
        <td th:text="${data.deliveryCompliance}"></td>
        <td th:text="${data.workQuality}"></td>
        <td th:text="${data.satisfaction}"></td>
        <td th:text="${data.overallRating}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>